/* PRIMEIRA SEÇÃO BRANCA */

.apresentacao {
    background: var(--branco);
}

.titulo-principal .destaque {
    color: var(--salmao-escuro);
}

.titulo-principal h1 {
    color: var(--texto);
}

.titulo-principal p {
    color: var(--laranja);
    font-size: 21px;
    font-weight: 700;
}


/* MAESTRO MAIOR */

.subtitulo {
    font-size: 1.35rem;
    font-weight: 800;
    letter-spacing: 0.04em;
    margin-bottom: 10px;
}


/* REGISTROS MAIOR */

.titulo-galeria span {
    font-size: 1.3rem;
    font-weight: 800;
    letter-spacing: 0.08em;
    margin-bottom: 10px;
}


@media (max-width: 700px) {

    .titulo-principal p {
        font-size: 18px;
    }

    .subtitulo {
        font-size: 1.2rem;
    }

    .titulo-galeria span {
        font-size: 1.15rem;
    }

}
